.entire_page {
  background-image: url('C:\Users\ajink\OneDrive\Desktop\Project\Front_end_react\vehicular-configurataor\public\Welcome.jpg');
  background-size: cover;  
  background-position: center;
  height: 100vh; /* Set the height of the entire page to 100% of the viewport height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.form-container {
  width: 400px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Glassy effect */
  background-color: rgba(255, 255, 255, 0.1); /* Background transparency */
}


.form-container label {
  margin-right: 10px;
}

.form-container select,
.form-container textarea {
  margin-bottom: 15px;
  width: 100%; /* Set width to 100% */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.form-container button {
  margin-top: 10px;
  width: 100%; /* Set width to 100% */
}
